@tailwind base;
@tailwind components;
@tailwind utilities;

/* can define that tailwind doesnt offer here and use them */
.radial-blue {
    background: radial-gradient(lightblue, blue);
}

html {
        scroll-behavior: smooth;
  }


/* My custom tailwind layer that I register in my tailwind.conf. extend */
  @layer utilities {
    .section-min-height {
      min-height: calc(100vh - 68px);
    }
  }